[Desktop Entry]
Version=1.0
Type=Link
Name=Tesseract Documentation
Comment=
Icon=accessories-dictionary
URL=https://github.com/tesseract-ocr/tessdoc/blob/main/Command-Line-Usage.md